/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  header {
    background-color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /*Logo*/
  
  img {
    width: 80px;
    height: 80px;
  
  }
  .logo h1 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
    display: inline-block;
  }
  
  .login-btn {
    background-color: orange;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  hr {
    border: 1px solid orange;
    margin: 10px 0;
  }
  
  .welcome {
    max-width: 1200px;
    margin: 20px auto;
    text-align: center;
  }
  
  .cats-showcase {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
  }
  
  .cats-showcase h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .cats-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  .cat-card {
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .cat-img {
    background-color: #ddd;
    width: 50%;
    height: 110px;
    border-radius: 10%;
    margin-left: 125px;
  }
  
  .request-btn {
    background-color: orange;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .pagination {
    text-align: center;
    margin-top: 10px;
  }
  
  .contact-form {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .contact-form h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .submit-btn {
    background-color: orange;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
  }
  